__pycache__/
*.pyc
.env
outputs/
generated_images/
generated_project/
auto_loop_project/
builder_project/
clean_live_builder/
live_builder_project/
mm_ai_platform/
mm_ai_project/
mm_auto_agent/
mm_chat_agent/
mm_multi_agent/
mm_projects/
mm_supervisor_agent/
mm_task_agent/
mm_task_watchdog/
mm_ultimate_agent/